:root{
    --main-black:#000;
    --main-white:#fff;
    --main-grey:#d9d2c1;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: var(--main-grey);
}
*{
    font-family: Lobster;
}
/* ---------------
    Prelaoder 
------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/*---------------
    back to top
-----------------*/
.back-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #007bff;
  color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 1;
  font-size: 8px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
}